# build
nest_project/
**/nest_project/
**/node_modules/
tests/metrics_output/
metrics_output/
results/analytics/
results/archives/
results/experiments_debug.log

# Python virtual environments
thesis_env/
*_env/
venv/
env/
.venv/
__pycache__/
*.egg-info/

# secrets
.env

# IDE files
.vscode/
.idea/
.github/

# testing
.coverage
htmlcov/
*.pyc
